.press
{
    position: absolute;
    left: 10px;
    top: 100px;
}

.form
{
    position: relative;
    left :400px;
    top: -40px;
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 41px;
    border-style: solid;
    border-color: black;
}

.form h1{
    position: absolute;
    left:49px;
    top: 24px;
    font-size: 38px;
    color: #0B0242;
    text-shadow: 10px 10px 20px 0px grey;
}

.linea{
    position: absolute;
    left: 49px;
    top:110px;
    width:640px;
    height: 4px;
    background-color: #2273EC;
    filter: blur(2px);
}

.textbox
{
    position: absolute;
    left: 97px;
    top:252px;
    width: 60px;
    height: 20px;
}

.press1{
    position: absolute;
    top: 400px;
    left: 132px;
    width: 100px;
    padding: 10px;
    background-color:  rgb(245,47,47);
    color: white;
    border: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    font-size: 18px;
    cursor: pointer;

}
.press1:hover{
    background-color: red;
}
.text3{
    position: absolute;
    left: 65px;
    top: 190px;
}

.Addicon{
    position:absolute;
   left: 23px;
   top: 380px;
   width: 60px;
   height: 60px;
   

}

.press{
position: absolute;
left: 19px;
Top: 378px;
width: 59px !important;
max-width: 100% !important;
max-height: 100% !important;
height: 52px !important;
text-align: center;
padding: 0px;
font-size: 12px;

opacity: 49%;
}

.remove{

    position: absolute;
    top: 13px;
    left: 660px;
    cursor: pointer;
}
